[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
langchain = "==0.0.250"
black = "*"
openai = "*"
install = "*"
google-search-results = "*"
tweepy = "*"
flask = "*"
python-dotenv  = "*"
wikipedia = "*"
google-api-python-client = "*"
chainlit = "==0.3.0"
chromadb = "==0.3.26"
unstructured = "*"
pdf2image = "*"
sentence_transformers = "*"
tiktoken = "*"
wrapt = "==1.15.0"
torch = "*"
torchvision  = "*"
torchaudio = "*"
transformers = "*"
opencv-python = "*"
Pillow = "*"
pafy = "*"
yt-dlp = "==2023.06.22"
pydub = "*"
youtube-dl = {editable = true, git = "https://github.com/ytdl-org/youtube-dl.git"}
accelerate = "*"
gradio = "==3.39.0"
ffmpeg = "==1.4"
ffprobe = "==0.5"
[dev-packages] 

[requires]
python_version = "3.11"
